<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hope this finds you well!</h1>
    <p>
      You have successfully received an email, <%= @email %>!
    </p>
    <p>
      This invoice is related to the invoice id: <%= @invoice_id %>.
    </p>
  </body>
</html>
