<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello send email to :) <%= @user.email %></h1>
    <p>
      You have successfully received an email
    </p>
    <p>
      To go to the related invoice - see: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>